@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

#app body {
  font-family: "Poppins";
}
#app {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

button {
  padding: 0.6rem 3rem;
  width: auto;
  margin: 4px;
  border-radius: 5px;
  border-style: none;
  background-color: #81cf6b;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.4s ease;
  color: #fff;
}

button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #346d53;
}

button:active {
  transform: scale(0.9) translate(0, 4px);
}

#app h2 {
  font-weight: 700;
}

#app .home-wrapper {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  /* gap: 1rem; */
  align-items: center;
  padding-inline: 1rem;
  margin-block: 2rem;
}

.input-field {
  padding: 0.5rem;
  width: 80%;
  margin: 4px;
  border-radius: 4px;
  border-style: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  background-color: rgb(231, 230, 230);
}

.input-field:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#app h2 {
  font-weight: bold;
}

checkbox-wrapper {
  margin-left: 2.6rem;
}
.radio-wrapper {
  display: flex;
  flex-flow: column;

  align-items: flex-start;
  justify-content: baseline;
}

.foodInfo-wrapper {
  align-self: flex-start;
  margin-left: 1rem;
}

.radio-wrapper__center {
  display: flex;
  align-items: flex-start;
  padding: 0.25rem;
  margin-block: 0.3rem;
  flex-wrap: wrap;
}
.input-field__second {
  margin: 0.5rem;
}

.title-wrapper {
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
}

.center {
  width: 10px;
  display: flex;
  align-self: center;
  text-align: center;
  flex-flow: column;
}
